@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/variables';
@import 'sass/variable';
@import 'sass/mixin';
@import 'sass/layout';
@import 'sass/slider';
@import 'sass/contact-form';

//BUTTON
.btn-customize {
  position: relative;
  border: none;
  color: rgba(255, 255, 255, .8);
  z-index: 0;
  letter-spacing: 1px;
  display: inline-block;
  padding: 6px 15px;
  @include transition(.3s);
  color: $primary;

  &:after {
    position: absolute;
    top: 0;
    right: -40px;
    bottom: 0;
    content: '';
    width: 100%;
    background: lighten($primary, 18%);
    z-index: -1;
    @include transition(.3s);
  }

  &:before {
    position: absolute;
    top: 50%;
    right: -30px;
    width: 30px;
    height: 2px;
    content: '';
    transform: translateY(-50%);
    background: $primary;
  }
}

//ROOMS
.room-wrap {
  display: block;
  margin-bottom: 60px;

  .img {
    height: 275px;
    display: block;
  }

  .text {
    h2 {
      font-size: 26px;

      a {
        color: $black;
      }
    }

    .price-details {
      border-top: 1px solid lighten($black, 90%);

      span {
        width: 100%;
      }

      .price {
        font-size: 22px;
        color: $primary;
        font-weight: 400;

        small {
          font-size: 13px;
          color: lighten($black, 70%);
        }
      }
    }
  }
}

.rate {
  span {
    font-size: 13px;
    color: $yellow;
  }
}

//BLOG CAROUSEL
.ftco-room {
  .owl-carousel {
    margin: 0;
  }

  .owl-carousel .owl-stage-outer {
    padding-top: 0;
    padding-bottom: 2em;
    position: relative;
  }

  .owl-nav {
    position: absolute;
    top: 100%;
    width: 100%;

    .owl-prev,
    .owl-next {
      position: absolute;
      transform: translateY(-50%);
      margin-top: -10px;
      outline: none !important;
      @include transition(.3s);

      span {
        &:before {
          font-size: 30px;
          color: rgba(0, 0, 0, .2);
          @include transition(.3s);
        }
      }

      &:hover,
      &:focus {
        span {
          &:before {
            color: $black;
          }
        }
      }

      opacity: 0;
    }

    .owl-prev {
      left: 50%;
      margin-left: -80px;
    }

    .owl-next {
      right: 50%;
      margin-right: -80px;
    }
  }

  &:hover {
    .owl-nav {

      .owl-prev,
      .owl-next {
        opacity: 1;
      }

      .owl-prev {
        left: 50%;
        margin-left: -80px;
      }

      .owl-next {
        right: 50%;
        margin-right: -80px;
      }
    }
  }

  .owl-dots {
    text-align: center;

    .owl-dot {
      width: 10px;
      height: 10px;
      margin: 5px;
      border-radius: 50%;
      background: rgba(0, 0, 0, .2);

      &.active {
        background: $primary;
      }
    }
  }
}

.ftco-section {
  padding: 6em 0;
  position: relative;
}

//COVER BG
.hotel-img,
.img,
.blog-img,
.about-img,
.user-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

// magnific pop up

.image-popup {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

.room-detail {
  display: grid;
  grid-template-columns: 500px 1fr;
  grid-gap: 30px;

  .img, .text {
    width: 100%;
  }

  .img {
    background-size: auto;
    background-position: top;
    overflow: hidden;
  }

  .thumbs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    margin-top: 10px;
    width: 100%;

    .thumb {
      width: 100%;
      display: flex;
      align-items: center;
      height: 80px;
      overflow: hidden;
      background: #000;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .zoom-img {
    width: 500px;
  }

  @media only screen and  (min-width: 100px) and (max-width: 599px) {
    display: block;

    .zoom-img {
      width: 300px;
    }

    .thumbs {
      width: 300px;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  @media only screen and (min-width: 600px) and (max-width: 999px) {
    display: block;

    .zoom-img {
      width: 500px;
    }

    .thumbs {
      width: 500px;
    }
  }

  @media only screen and  (min-width: 1000px) and (max-width: 1299px) {
    grid-template-columns: 400px 1fr;

    .zoom-img {
      width: 400px;
    }
  }
}

.room-contact {
  margin-top: 30px;
}
