@import '~daterangepicker/daterangepicker.css';
@import '~simplelightbox/dist/simplelightbox.min.css';
@import 'sass/variable';
@import 'sass/mixin';
@import 'sass/layout';

$section-text-color: #666;

.cover-image {
  width: 100%;
  height: 264px;
  height: 82.5vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @media screen and (min-width: $grid-sm) {
    height: 500px;
    height: 65vw;
  }

  @media screen and (min-width: $grid-xl) {
    height: 480px;
  }
}

.section-contents {
  padding-top: 16px;

  .room-reservation-contents {
    display: none;

    &.mobile-open {
      display: block;
      -webkit-transition: top 0.4s ease-in-out;
      -moz-transition: top 0.4s ease-in-out;
      transition: top 0.4s ease-in-out;
      position: fixed;
      z-index: 100;
      top: 0;
      bottom: 0;
      width: 100%;
      background: $white;
      overflow: auto;
      height: 100% !important;
    }
  }

  @media screen and (min-width: $grid-xl) {
    margin: 0 auto;
    position: relative;

    .room-reservation-contents {
      width: 100%;
      max-width: 1280px;
      height: 0;
      position: relative;
      margin: 0 auto;
      z-index: 80;
      display: block;
    }
  }
}

.section {
  min-height: calc(100vh - 300px);

  &__article {
    padding: 0 16px;
  }

  @media screen and (min-width: $grid-xl) {
    display: block;
    min-height: auto;

    &__outer {
      margin: 0 auto;
      max-width: 1280px;
    }

    &__inner {
      width: calc(100% - 300px);
    }

    &__article {
      margin-top: 18px;
      padding: 0;
      background: #f7f6f3;
    }
  }
}

.section-element {
  padding-top: 24px;
  padding-bottom: 6px;
  border-bottom: 1px solid #ccc;

  &__headline {
    h3 {
      margin: 0 0 10px;
      color: $section-text-color;
      font-size: 16px;
      font-weight: bold;
    }
  }

  &__content {
    // height: 36rem;
    overflow: hidden;
  }

  .room-element-wrapper {
    display: inline-block;
    width: 50%;
    padding-right: 15px;
    vertical-align: top;
  }

  .room-element {
    &__caption {
      display: inline-block;
      font-size: 14px;
      color: $section-text-color;
      margin-right: 6px;

      &::after {
        content: ':';
      }
    }

    &__content {
      display: inline-block;
      font-size: 14px;
    }
  }

  .room-amenities-wrapper {
    padding: 0 0 24px;

    &__title {
      margin: 0 0 12px;
      color: inherit;
      font-weight: 400;
    }

    &__view {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 0;
    }

    &__item {
      width: 49%;
      height: 32px;
      margin-bottom: 5px;
      padding: 0 4px;
      border-radius: 2px;
      background: #f7f6f3;
      color: $section-text-color;
      font-size: 13px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;

      &--disabled {
        color: #bbbbbb;
        text-decoration: line-through;
      }
    }
  }

  .room-amenities-wrapper + .room-amenities-wrapper {
    border-top: 1px solid #cccccc;
    padding: 24px 0;
  }

  @media screen and (min-width: $grid-md) {
    .room-amenities-wrapper {
      &__view {
        justify-content: flex-start;
      }

      &__item {
        width: 32%;

        &:nth-of-type(3n-1) {
          margin: 0 2%;
        }
      }
    }
  }

  @media screen and (min-width: $grid-xl) {
    padding: 30px 0;

    &__headline {
      display: inline-block;
      vertical-align: top;
      width: 29%;

      h3 {
        font-size: 18px;
      }
    }

    &__content {
      // height: 10rem;
      display: inline-block;
      width: 70%;
    }

    .room-element-wrapper {
      display: inline-block;
      width: 49%;
      padding-right: 15px;
      vertical-align: top;
    }

    .room-amenities-wrapper {
      padding-bottom: 30px;

      &__title {
        font-size: 16px;
        padding-bottom: 20px;
        margin: 0;
      }

      &__view {
        margin-bottom: 0;
      }

      &__item {
        background: $white;
        border: 2px solid $white;
        padding: 0;

        &--disabled {
          background: transparent;
        }
      }
    }

    .room-amenities-wrapper + .room-amenities-wrapper {
      padding-top: 30px;
      border-top: 1px solid #cccccc;
    }
  }
}

// SECTION ABOUT
.section-about {
  &__basic-info {
    font-family: $font-secondary;

    .headline {
      margin: 0 16px;
      border-bottom: 1px solid #999;
      line-height: 1;
      text-transform: uppercase;

      h1 {
        color: #222;
        font-size: 40px;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 5px;
      }

      h2 {
        color: $section-text-color;
        font-size: 20px;
        font-weight: 300;
        line-height: 1;
        margin-bottom: 5px;
      }
    }

    ul {
      margin: 0 16px;
      padding: 12px 0;
      line-height: 1;
      font-size: 16px;
      color: #999;
      font-weight: 700;
    }

    li {
      margin-right: 10px;
      padding-bottom: 5px;
      text-transform: uppercase;
      font-weight: 700;
      display: inline-block;
      font-size: 13px;
    }
  }

  &__other-photos {
    padding: 0;
  }

  .room-thumbs {
    width: 100%;
    height: 100%;
    overflow: auto;

    &__item {
      display: inline-block;
      margin-left: 2px;
      height: 74px;
      width: 120px;
      background: #000;
      text-align: center;
      overflow: hidden;
      position: relative;

      img {
        display: inline-block;
        width: auto;
        height: 100%;
      }
    }

    &__more-text {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding-top: 15px;
      text-align: center;
      color: white;
      background: rgba(34,34,34,0.5);
      cursor: pointer;
    }

    &__more-count {
      font-size: 20px;
    }
  }

  @media screen and (min-width: $grid-xl) {
    &__basic-info {
      .headline {
        margin: 0 32px;
        border-bottom: none;
      }

      ul {
        margin: 0 32px;
        padding-bottom: 0;
      }

      li {
        display: inline-block;
        padding-bottom: 0;
      }
    }

    &__other-photos {
      padding: 16px 0 16px 32px;
      background: $white;
    }

    .room-thumbs {
      &__item {
        width: 13%;
        max-width: 120px;
        height: 120px;
        float: left;
        overflow: hidden;
        margin-left: 8px;

        img {
          display: inline-block;
          width: auto;
          height: auto;
          max-height: 120px;
        }
      }

      &__more-text {
        padding-top: 35px;
      }
    }
  }
}

// SESSION PRICE
.section-price {
  @media screen and (min-width: $grid-xl) {
    .section__article {
      margin-top: 0;
      padding: 0;
    }
  }
}

// room-reservation-contents
.room-reservation-contents {
  .reservation-widget {
    background: $white;
    min-height: 100%;

    &__title {
      background: #222;
      color: $white;
      font-size: 16px;
      height: 40px;
      line-height: 40px;
      padding-left: 17px;
      position: relative;
    }

    &__close {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      font-size: 18px;
      color: $white;
      cursor: pointer;
    }

    &__form {
      background: $white;
      border: 0;
      height: 100%;
      margin: 0;
      padding: 20px;
      position: relative;
      text-align: left;
      width: 100vw;
    }
  }

  .widget-form {
    &__action {
      button {
        height: 48px;
        line-height: 46px;
        background: #e23933;
        border: 0;
        cursor: pointer;
        color: $white;
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        padding: 0 10px;
      }
    }

    &__control {
      position: relative;
      border: 1px solid #e5e5e5;
      height: 40px;
      padding: 0;
      margin-bottom: 12px;

      input, .input {
        background: transparent;
        border: 0;
        outline: 0;
        height: 100%;
        width: 100%;
        padding: 0 10px 0 44px;
      }

      .input {
        cursor: pointer;
        display: flex;
        align-items: center;
      }

      &:focus {
        border: 1px solid #ff8073;
      }

      &.open {
        .menu {
          display: block;
        }
      }

      .menu {
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        background-color: $white;
        display: none;
        font-size: 16px;
        left: 0;
        list-style: none;
        position: absolute;
        text-align: left;
        top: 100%;
        z-index: 1000;
        box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,0.05);
        margin: 6px 0 0;
        min-width: 100%;
        padding: 2rem 1.6rem;

        &__container {
          display: grid;
          grid-template-columns: max-content 1fr;
          grid-gap: 20px;
          align-items: center;
          justify-content: center;
        }

        &__action {
          padding: 1.6rem 0 0;
          text-align: right;
        }

        &__btn {
          color: #e23933;
          cursor: pointer;
          background-color: transparent;
          border: 0;
          font-weight: bold;
          text-decoration: none;
        }
      }

      .counter-wrapper {
        display: grid;
        grid-template-columns: 40px 60px 40px;
        align-items: center;
        justify-content: center;
        text-align: center;

        &__btn {
          background-image: none;
          border: 1px solid #e2393d;
          display: inline-block;
          font-weight: 500;
          text-align: center;
          text-decoration: none;
          vertical-align: middle;
          white-space: nowrap;
          font-size: 14px;
          line-height: 40px;
          user-select: none;
          background-color: transparent;
          background-image: none;
          color: #e2393d;
          border-radius: 30px;
          line-height: 38px;
          margin-bottom: 0;
          padding: 0 15px;
          touch-action: manipulation;
          cursor: pointer;
          outline: none;

          &.disabled {
            opacity: 0.7;
            cursor: no-drop;
          }

          &:hover {
            background: #e23933;
            color: $white;
          }
        }

        &__display {
          font-size: 16px;
          font-weight: 700;
          user-select: none;
          width: 100%;
          padding: 0;
          text-align: center;
        }
      }
    }

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      height: 40px;
      line-height: 44px;
      pointer-events: none;
      position: absolute;
      text-align: center;
      top: 0;
      width: 44px;
      z-index: 2;
      left: 0;
    }
  }

  @media screen and (min-width: $grid-xl) {
    width: 100%;
    max-width: 1280px;
    height: 0;
    position: relative;
    margin: 0 auto;
    z-index: 80;

    .section-reservation-widget {
      width: 300px;
      position: absolute;
      right: 0;
      margin: -56px 0 0 auto;
    }

    .reservation-widget {
      background: transparent;
      display: block;
      min-height: 0;
      width: 300px;

      &__title {
        background: #222;
        font-size: 14px;
        height: 40px;
        line-height: 40px;
        padding-left: 20px;
      }

      &__form {
        border-top: none;
        border: 1px solid #ccc;
        height: 100%;
        width: 100%;
      }

      &__close {
        display: none;
      }
    }

    .widget-form {
      &__control {
        background: $white;
      }
    }
  }

  @media screen and (min-width: $grid-md) {
    .widget-form {
      &__control {
        .menu {
          left: auto;
          right: 0;
        }
      }
    }
  }
}

.reversed-button {
  background-color: white;
  border-radius: 0;
  border-width: 0;
  bottom: 0;
  font-weight: 600;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 70;

  &__proceed {
    padding: 5px 5px 5px 2.5px;

    button {
      display: inline-block;
      margin-bottom: 0;
      font-weight: normal;
      text-align: center;
      vertical-align: middle;
      touch-action: manipulation;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      white-space: nowrap;
      width: 100%;
      font-size: 14px;
      padding: 15px 0;
      line-height: 18px;
      color: white;
      background-color: #e23933;
      border-color: #d15559;
      text-transform: uppercase;
    }
  }

  @media screen and (min-width: $grid-xl) {
    display: none;
  }
}
