@import '~daterangepicker/daterangepicker.css';
@import 'sass/variable';
@import 'sass/mixin';
@import 'sass/layout';

$section-text-color: #666;

.cover-image {
  width: 100%;
  height: 264px;
  height: 82.5vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @media screen and (min-width: $grid-sm) {
    height: 500px;
    height: 65vw;
  }

  @media screen and (min-width: $grid-xl) {
    height: 480px;
  }
}

.section-contents {
  padding-top: 16px;

  @media screen and (min-width: $grid-xl) {
    margin: 0 auto;
    position: relative;

    .room-reservation-contents {
      width: 100%;
      max-width: 1280px;
      height: 0;
      position: relative;
      margin: 0 auto;
      z-index: 80;
    }
  }
}

.section {
  min-height: calc(100vh - 300px);
  display: none;

  &__article {
    padding: 0 16px;
  }

  @media screen and (min-width: $grid-xl) {
    display: block;
    min-height: auto;

    &__outer {
      margin: 0 auto;
      max-width: 1280px;
    }

    &__inner {
      width: calc(100% - 300px);
    }

    &__article {
      margin-top: 18px;
      padding: 0;
      background: #f7f6f3;
    }
  }
}

.section-element {
  padding-top: 24px;
  padding-bottom: 6px;
  border-bottom: 1px solid #ccc;

  &__headline {
    h3 {
      margin: 0 0 10px;
      color: $section-text-color;
      font-size: 16px;
      font-weight: bold;
    }
  }

  &__content {
    // height: 36rem;
    overflow: hidden;
  }

  .room-element-wrapper {
    display: inline-block;
    width: 50%;
    padding-right: 15px;
    vertical-align: top;
  }

  .room-element {
    &__caption {
      display: inline-block;
      font-size: 14px;
      color: $section-text-color;
      margin-right: 6px;

      &::after {
        content: ':';
      }
    }

    &__content {
      display: inline-block;
      font-size: 14px;
    }
  }

  .room-amenities-wrapper {
    padding: 0 0 24px;

    &__title {
      margin: 0 0 12px;
      color: inherit;
      font-weight: 400;
    }

    &__view {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 0;
    }

    &__item {
      width: 49%;
      height: 32px;
      margin-bottom: 5px;
      padding: 0 4px;
      border-radius: 2px;
      background: #f7f6f3;
      color: $section-text-color;
      font-size: 13px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;

      &--disabled {
        color: #bbbbbb;
        text-decoration: line-through;
      }
    }
  }

  .room-amenities-wrapper + .room-amenities-wrapper {
    border-top: 1px solid #cccccc;
    padding: 24px 0;
  }

  @media screen and (min-width: $grid-md) {
    .room-amenities-wrapper {
      &__view {
        justify-content: flex-start;
      }

      &__item {
        width: 32%;

        &:nth-of-type(3n-1) {
          margin: 0 2%;
        }
      }
    }
  }

  @media screen and (min-width: $grid-xl) {
    padding: 30px 0;

    &__headline {
      display: inline-block;
      vertical-align: top;
      width: 29%;

      h3 {
        font-size: 18px;
      }
    }

    &__content {
      // height: 10rem;
      display: inline-block;
      width: 70%;
    }

    .room-element-wrapper {
      display: inline-block;
      width: 49%;
      padding-right: 15px;
      vertical-align: top;
    }

    .room-amenities-wrapper {
      padding-bottom: 30px;

      &__title {
        font-size: 16px;
        padding-bottom: 20px;
        margin: 0;
      }

      &__view {
        margin-bottom: 0;
      }

      &__item {
        background: $white;
        border: 2px solid $white;
        padding: 0;

        &--disabled {
          background: transparent;
        }
      }
    }

    .room-amenities-wrapper + .room-amenities-wrapper {
      padding-top: 30px;
      border-top: 1px solid #cccccc;
    }
  }
}

// SECTION ABOUT
.section-about {
  &__basic-info {
    font-family: $font-secondary;

    .headline {
      margin: 0 16px;
      border-bottom: 1px solid #999;
      line-height: 1;
      text-transform: uppercase;

      h1 {
        color: #222;
        font-size: 40px;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 5px;
      }

      h2 {
        color: $section-text-color;
        font-size: 20px;
        font-weight: 300;
        line-height: 1;
      }
    }

    ul {
      margin: 0 16px;
      padding: 12px 0;
      line-height: 1;
      font-size: 16px;
      color: #999;
      font-weight: 700;
    }

    li {
      margin-right: 10px;
      padding-bottom: 5px;
      text-transform: uppercase;
      font-weight: 700;
    }
  }

  &__other-photos {
    padding: 0;
  }

  .room-thumbs {
    width: 100%;
    height: 100%;
    overflow: auto;

    &__item {
      display: inline-block;
      margin-left: 2px;

      img {
        display: inline-block;
        width: 120px;
      }
    }
  }

  @media screen and (min-width: $grid-xl) {
    &__basic-info {
      .headline {
        margin: 0 32px;
        border-bottom: none;
      }

      ul {
        margin: 0 32px;
        padding-bottom: 0;
      }

      li {
        display: inline-block;
        font-size: 18px;
        padding-bottom: 0;
      }
    }

    &__other-photos {
      padding: 16px 0 16px 32px;
      background: $white;
    }

    .room-thumbs {
      &__item {
        width: 13%;
        max-width: 120px;
        height: 120px;
        float: left;
        overflow: hidden;
        margin-left: 8px;

        img {
          display: inline-block;
          width: auto;
          height: auto;
          max-height: 120px;
          margin-left: -55px;
        }
      }
    }
  }
}

// SESSION PRICE
.section-price {
  @media screen and (min-width: $grid-xl) {
    .section__article {
      margin-top: 0;
      padding: 0;
    }
  }
}

// room-reservation-contents
.room-reservation-contents {
  .reservation-widget {
    background: $white;
    min-height: 100%;

    &__title {
      background: #222;
      color: $white;
      font-size: 16px;
      height: 40px;
      line-height: 40px;
      padding-left: 17px;
    }

    &__form {
      background: $white;
      border: 0;
      height: 100%;
      margin: 0;
      padding: 20px;
      position: relative;
      text-align: left;
      width: 100vw;
    }
  }

  .widget-form {
    &__action {
      button {
        height: 48px;
        line-height: 46px;
        background: #e23933;
        border: 0;
        cursor: pointer;
        color: $white;
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        padding: 0 10px;
      }
    }

    &__control {
      position: relative;
      overflow: hidden;
      border: 1px solid #e5e5e5;
      height: 40px;
      padding: 0;
      margin-bottom: 12px;

      input, .input {
        background: transparent;
        border: 0;
        outline: 0;
        height: 100%;
        width: 100%;
        padding: 0 10px 0 44px;
      }

      .input {
        cursor: pointer;
      }

      &:focus {
        border: 1px solid #ff8073;
      }
    }

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      height: 40px;
      line-height: 44px;
      pointer-events: none;
      position: absolute;
      text-align: center;
      top: 0;
      width: 44px;
      z-index: 2;
      left: 0;
    }
  }

  @media screen and (min-width: $grid-xl) {
    width: 100%;
    max-width: 1280px;
    height: 0;
    position: relative;
    margin: 0 auto;
    z-index: 80;

    .section-reservation-widget {
      width: 300px;
      position: absolute;
      right: 0;
      margin: -56px 0 0 auto;
    }

    .reservation-widget {
      background: transparent;
      display: block;
      min-height: 0;
      width: 300px;

      &__title {
        background: #222;
        font-size: 14px;
        height: 40px;
        line-height: 40px;
        padding-left: 20px;
      }

      &__form {
        border-top: none;
        border: 1px solid #ccc;
        height: 100%;
        width: 100%;
      }
    }

    .widget-form {
      &__control {
        background: $white;
      }
    }
  }
}
