$material-icons-font-path: '~material-icons/iconfont/';

@import '~material-icons/iconfont/material-icons.scss';
@import './reset';
@import './variable';
@import './mixin';

// layout
.btn {
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  touch-action: manipulation;

  &--action {
    font-size: 14px;
    padding: 7px 15px;
    background: $primary;
    color: $white;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 700;

    &:hover {
      color: $white;
      background: lighten($primary, 10%);
    }
  }
}

.header {
  height: $header-height;
  background: $white;
  width: 100%;
  position: relative;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
  padding: 0 10px;

  &__wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
  }

  &__logo {
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__navigation {
    display: none;
  }

  .quick-access {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.footer {
  color: $gray;
  text-align: center;

  &__content {
    padding: 40px 10px;
  }

  &__links {
    li {
      display: inline-block;

      .footer-link {
        color: $gray;
      }
    }

    &--general {
      display: inline-block;
      margin-bottom: 30px;

      li {
        padding: 0 10px;
      }
    }

    &--social {
      margin-bottom: 40px;

      li {
        padding: 0 10px;

        .footer-link {
          height: 40px;
          width: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          border: 1px solid $gray;
          overflow: hidden;
          font-size: 18px;
        }

        img {
          width: 20px;
        }
      }
    }

    &--company-brand {
      padding-top: 5px;
    }
  }
}
