$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Encode Sans', sans-serif;

$white: #fff;
$black: #000000;
// $darken: #3a4348;
$gray: #a6a6a6;

$primary: #E2393D;
$yellow: #FFB664;

// grid
$grid-sm: 576px;
$grid-md: 768px;
$grid-lg: 992px;
$grid-xl: 1200px;
$grid-xxl: 1600px;

$header-height: 64px;
