@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/variables';
@import 'sass/variable';
@import 'sass/mixin';
@import 'sass/layout';
@import 'sass/slider';

//BUTTON
.btn {
  cursor: pointer;
  @include border-radius(30px);
  box-shadow: none!important;
  &:hover, &:active, &:focus {
    outline: none;
  }
  &.btn-primary {
    background: $primary;
    border: 1px solid $primary;
    color: $white;
    &:hover {
      border: 1px solid $primary;
      background: transparent;
      color :$primary;
    }
    &.btn-outline-primary {
      border: 1px solid $primary;
      background: transparent;
      color :$primary;
      &:hover {
        border: 1px solid transparent;
        background: $primary;
        color :$white;
      }
    }
  }
  &.btn-white {
    background: $white;
    border: 1px solid $white;
    color: $black;
    &:hover, &:focus, &:active {
      border: 1px solid $white;
      color :$primary;
    }
    &.btn-outline-white {
      border-color: rgba($white, .8);
      background: none;
      @include border-radius(30px);
      border-width: 1px;
      color: $white;
      &:hover, &:focus, &:active {
        background: $white;
        border-color: $white;
        color: $primary;
      }
    }
  }
}

.btn-customize {
  position: relative;
  border: none;
  color: rgba(255, 255, 255, .8);
  z-index: 0;
  letter-spacing: 1px;
  display: inline-block;
  padding: 6px 15px;
  @include transition(.3s);
  color: $primary;

  &:after {
    position: absolute;
    top: 0;
    right: -40px;
    bottom: 0;
    content: '';
    width: 100%;
    background: lighten($primary, 18%);
    z-index: -1;
    @include transition(.3s);
  }

  &:before {
    position: absolute;
    top: 50%;
    right: -30px;
    width: 30px;
    height: 2px;
    content: '';
    transform: translateY(-50%);
    background: $primary;
  }
}

//ROOMS
.room-wrap {
  display: block;
  margin-bottom: 60px;

  .img {
    height: 275px;
    display: block;
  }

  .text {
    h2 {
      font-size: 26px;

      a {
        color: $black;
      }
    }

    .price-details {
      border-top: 1px solid lighten($black, 90%);

      span {
        width: 100%;
      }

      .price {
        font-size: 22px;
        color: $primary;
        font-weight: 400;

        small {
          font-size: 13px;
          color: lighten($black, 70%);
        }
      }
    }
  }
}

.rate {
  span {
    font-size: 13px;
    color: $yellow;
  }
}

//BLOG CAROUSEL
.ftco-room {
  .owl-carousel {
    margin: 0;
  }

  .owl-carousel .owl-stage-outer {
    padding-top: 0;
    padding-bottom: 2em;
    position: relative;
  }

  .owl-nav {
    position: absolute;
    top: 100%;
    width: 100%;

    .owl-prev,
    .owl-next {
      position: absolute;
      transform: translateY(-50%);
      margin-top: -10px;
      outline: none !important;
      @include transition(.3s);

      span {
        &:before {
          font-size: 30px;
          color: rgba(0, 0, 0, .2);
          @include transition(.3s);
        }
      }

      &:hover,
      &:focus {
        span {
          &:before {
            color: $black;
          }
        }
      }

      opacity: 0;
    }

    .owl-prev {
      left: 50%;
      margin-left: -80px;
    }

    .owl-next {
      right: 50%;
      margin-right: -80px;
    }
  }

  &:hover {
    .owl-nav {

      .owl-prev,
      .owl-next {
        opacity: 1;
      }

      .owl-prev {
        left: 50%;
        margin-left: -80px;
      }

      .owl-next {
        right: 50%;
        margin-right: -80px;
      }
    }
  }

  .owl-dots {
    text-align: center;

    .owl-dot {
      width: 10px;
      height: 10px;
      margin: 5px;
      border-radius: 50%;
      background: rgba(0, 0, 0, .2);

      &.active {
        background: $primary;
      }
    }
  }
}

.ftco-section {
  padding: 6em 0;
  position: relative;
}

.contact-section {
  .contact-info{
    .con{
      background: lighten($primary,25%);
      width: 100%;
    }
    p{
      a{
        color: lighten($black,10%);
      }
      span{
        font-weight: 500;
        color: $black;
      }
    }
  }
}

//COVER BG
.hotel-img,
.img,
.blog-img,
.about-img,
.user-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

// magnific pop up

.image-popup {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

.form-control {
  height: 52px!important;
  background: $white!important;
  color: $black!important;
  font-size: 18px;
  border-radius: 0px;
  box-shadow: none!important;
  border: 1px solid lighten($black,90%);
  &:focus, &:active {
    border-color: $black;
  }
}
textarea.form-control {
  height: inherit!important;
}
.block-9 {
  .form-control {
    outline: none!important;
    box-shadow: none!important;
    font-size: 15px;
  }
  #map {
  }
}
