{
  "presets": [
    [ "@babel/preset-env", {
      "targets": {
        "node": "8.10"
      }
    } ]
  ],
  "plugins": [
    [ "module-resolver", {
      "root": [ "./src/server" ]
    } ],
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
